# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build (React source dist)
docs-src/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.visualstudio
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Next.js (if any remnants)
.next/
out/

# Termux/Linux temp
*~
.fuse_hidden*
.directory
.Trash-*
